h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 0;
}

h1 {
	font-family: $font__title;
	color: $color__dark;
	line-height: 140%;
	font-size: 56px;

	@include media( $tablet__only ) {
		font-size: 48px;
	}

	@include media( $mobile__only ) {
		font-size: 28px;
	}
}

h2 {
	font-family: $font__title;
	color: $color__dark;
	line-height: 140%;
	font-size: 48px;

	@include media( $tablet__only ) {
		font-size: 30px;
	}

	@include media( $mobile__only ) {
		font-size: 24px;
	}
}

h3 {
	font-family: $font__title;
	font-size: 32px;
	color: $color__dark;

	@include media( $tablet__only ) {
		font-size: 24px;
	}

	@include media( $mobile__only ) {
		font-size: 20px;
	}
}

h4 {
	font-size: 1.4em;
	margin-bottom: 8px;
}

h5 {
	font-size: 1.3em;
}

h6 {
	font-size: 1em;
	font-weight: 900;
	color: $color__dark;
	margin: 1.2em 0;
}

.ays-styles{
	h1{
		font-size: 70px;
		line-height: 70px;
		font-family: $font__ays;
		font-optical-sizing: auto;
		font-weight: 700;
		font-style: normal;
		text-transform: uppercase;
		margin-bottom: 10px;

		@include media($tablet__desktop){
			font-size: 140px;
			line-height: 140px;
		}
	}
	h1.has-x-large-font-size{
		font-size: 47px !important;
		line-height: 47px;
		margin-bottom: 40px;

		@include media($tablet__desktop){
			font-size: 88px !important;
			line-height: 88px;
		}
	}
	h2{
		font-size: 50px;
		line-height: 50px;
		font-family: $font__ays;
		font-optical-sizing: auto;
		font-weight: 700;
		font-style: normal;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 20px;

		@media (min-width: 600px) and (max-width: 820px) {
			font-size: 70px;
			line-height: 70px;
		}

		@include media($desktop__only){
			font-size: 90px;
			line-height: 90px;
		}

		span{
			color: $color__ays-light-blue;
		}
	}
	h3{
		font-size: 32px;
		font-family: $font__ays;
		font-optical-sizing: auto;
		font-weight: 700;
		font-style: normal;
		text-transform: uppercase;
		margin: 0;
	}
	h4{
		font-size: 27px;
		line-height: 27px;
		font-family: $font__ays;
		font-optical-sizing: auto;
		font-weight: 700;
		font-style: normal;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 10px;
		color: #000;
	}
}
