.ays-vimeo-custom-thumb{

	&.ays-vimeo-custom-thumb-overlap-top{
		margin-top: -9rem;
		@include media($desktop__only){
			margin-top: -25rem;
		}
		.container{
			margin-bottom: 40px;
		}
	}

	&.ays-vimeo-custom-thumb-overlap-bottom{
		margin-top: 70px;
		&:before{
			content: "";
			width: 200vw;
			height: calc(50% + 180px);
			background-color: #fff;
			position: absolute;
			bottom: -180px;
			left: -50vw;
		}

	}
	// &:before{
	// 		content: "";
	// 		width: 100vw;
	// 		height: 35%;
	// 		background-color: #fff;
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 	}

	.container{
		position: relative;
		overflow: hidden;
		width: 100%;
		// padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
		
	}

	.container-full{
		width: 100%;
		max-width: 100vw;
	}
}

.video-container{
	iframe, 
	.ays-vimeo-custom-thumb-cover{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	svg{
		@include media( $mobile__only ) {
			width: 80px !important;
		}
		position: absolute;
			top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100px !important;
		height: 100px !important;
	}
}

.ays-vimeo-custom-thumb-cover{
	img{
		width: 100%;
		max-width: 100vw;
	}
}

.ays-vimeo-custom-thumb-full{
	background-color: #fff;
	margin-left: calc((100vw - 100%) / -2);
    margin-right: calc((100vw - 100%) / -2);
}

.acf-block-preview {
	.ays-vimeo-custom-thumb{
		margin-top: 0 !important;
	}
}

// Parallax stuff
.ays-parallax{
	.ays-vimeo-custom-thumb{
		transform: translate3d(0px, 300px, 0px) scale(1.5);
		opacity: 0;
		transition-property: all;
		transition-timing-function: ease-in-out(0.4, 0, 0.2, 1);
		transition-duration: 1s;
		

		&.move-in{
			transform: translate3d(0px, 0px, 0px) scale(1);
			opacity: 1;
		}
	}

	&.ays-styles .overlap-group{
		margin-top: 9rem;
		position: relative;
		z-index: 1;
		&:before{
			content: "";
			width: 100vw;
			height: 9rem;
			background-color: #fff;
			position: absolute;
			top: -9rem;
			left: 0;
			z-index: 0;
		}
		@include media($desktop__only){
			margin-top: 25rem;
			padding-top: 7rem;
			&:before{
				height: 29rem;
				top: -26rem;
			}
		}
	}
}