.ays-whats-new-animation-container{
	position: relative;
}
.ays-whats-new-container{
	margin-top: 60px;
	margin-bottom: 60px;
	@media("min-width: 800px"){
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		gap: 1rem;
		margin-top: 0;
		margin-top: 60px
	}
}

.ays-whats-new-item{
	padding: 1rem;
	display: flex;
	font-family: $font__ays;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1.8rem;
    align-items: center;
    margin-bottom: 1rem;

    img{
    	width: 120px;
    }

    @media("min-width: 800px"){
    	margin-bottom: 0;
    	img{
	    	width: 155px;
	    }

    }

    @media( "min-width: 1300px" ) {
		font-size: 2.5rem;
		padding: 2rem;
	}
}

.ays-whats-new-item--ays-green{
	background-color: $color__ays-green;
}
.ays-whats-new-item--ays-blue{
	background-color: $color__ays-blue;
	color: #fff;
}
.ays-whats-new-item--ays-purple{
	background-color: $color__ays-purple;
	color: #fff;
}

.whats-new-animation-pencil{
	display: none;

	@include media($tablet__desktop){
		display: block;
		position: absolute;
		left: -120px;
		bottom: -40px;
		width: 260px;

	}

	@media("min-width: 1025px"){
		left: -160px;
		width: 350px;
		bottom: -80px;
	}

	// @media( "min-width: 1300px" ) {
	// 	left: 40px;
	// }
}

.whats-new-animation-controller{
	position: absolute;
	left: -90px;
	top: -85px;
	width: 180px;

	@include media($tablet__desktop){
		width: 230px;
		top: -120px;
	}

	// @media("min-width: 1025px"){
	// 	left: 0;
	// 	width: 250px;
	// }

	// @media( "min-width: 1300px" ) {
	// 	left: 80px;
	// }
}

.whats-new-animation-buttons{
	position: absolute;
	width: 115px;
	right: -30px;
	bottom: -60px;

	@include media($tablet__desktop){
		width: 210px;
		right: -60px;
		bottom: -90px;
	}

	// @media("min-width: 1025px"){
	// 	right: 150px;
	// 	bottom: 0px;
	// }
}

.whats-new-animation-globe{
	display: none;

	@include media($tablet__desktop){
		display: block;
		position: absolute;
		top: -90px;
		right: -80px;
		width: 220px;
	}

	// @media("min-width: 1025px"){
	// 	right: -60px;
	// 	// right: 70px;
	// 	top: 120px;
	// 	width: 230px;
	// }

	// @media("min-width: 1300px"){
	// 	right: 120px;
	// 	// top: 20px;
	// }
}

.whats-new-question-mark{
	display: none;

	@include media($tablet__desktop){
		display: block;
		position: absolute;
		top: 170px;
		right: -30px;
		width: 80px;
	}

	@media("min-width: 1025px"){
		top: 160px;
	}

	@media("min-width: 1300px"){
		top: 190px;
	}
}

.whats-new-green-ribbon{
	display: none;

	@include media($tablet__desktop){
		display: block;
		position: absolute;
		bottom: -70px;
		right: 46%;
		width: 120px;
	}

	@media("min-width: 1025px"){
		// right: 120px;
	}

	@media("min-width: 1300px"){
		// right: 160px;
		// top: 420px;
	}
}

.whats-new-music{
	display: none;

	@include media($tablet__desktop){
		display: block;
		position: absolute;
		left: -40px;
		width: 86px;
		top: 70px;
	}
}

.whats-new-star-circles{
	width: 73px;
	position: absolute;
	bottom: -70px;
	left: -15px;

	@include media($tablet__desktop){
		left: 60px;
		bottom: -80px;
	}
}

.whats-new-red-ribbon{
	display: none;

	@include media($tablet__desktop){
		display: block;
		position: absolute;
		right: -110px;
		width: 136px;
		bottom: 130px;
	}
}

.whats-new-green-stars{
	position: absolute;
	width: 60px;
	top: 140px;
	right: -15px;

	@include media($tablet__desktop){
		right: 46%;
		top: -40px;
		width: 104px;
	}
}

.ays-group-animation{
		.wp-block-group__inner-container{
			position: relative;
			max-width: 1000px;
			h2{
				font-size: 2.5rem !important;
				line-height: 2.5rem !important;
				max-width: 680px;
				margin: 0 auto;
				margin-bottom: 2rem;
			}
			p{
				font-size: 1.5rem !important;
				line-height: 2rem !important;
				z-index: 1;
				position: relative;
			}
			.ays-button{
				margin-bottom: 0;
				z-index: 1;
			}
		}

		.ays-banner-left{
			position: absolute;
			width: 250px;
			left: -40px;
			bottom: -130px;

			@include media($tablet__desktop){
				bottom: -50px;
				left: 20px;
			}
		}
		.ays-banner-right{
			position: absolute;
			bottom: -80px;
			right: -80px;
			width: 180px;

			@include media($tablet__desktop){
				right: -20px;
				bottom: -120px;
			}

			@include media($desktop__only){
				right: -60px;
				bottom: -80px;
			}
		}
		.ays-banner-left-top{
			position: absolute;
			left: -80px;
			top: -80px;
			width: 170px;

			@include media($tablet__desktop){
				left: -40px;
			}

			@include media($desktop__only){
				left: 0px;
				top: -30px;
			}
		}
	}